body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #023c5b;
    color: white;
    padding: 5px;
    display: flex; /* Use flex display for easy alignment */
    align-items: flex-start; /* This aligns the content to the top */
}

header a {
    padding-left: 100px;
    color: lightblue; /* This will set the color of links to white */
    /*text-decoration: none; /* Optional: Removes the underline from links */
    margin-top: 20px; /* Moves h2 slightly higher; adjust as needed */

}

.header-logo {
    width: 200px; /* Adjust as needed */
    height: auto; /* Keeps the aspect ratio of the image */
    margin-left: 10px; /* Adds some space between the logo and the next item */
    margin-right: 30px; /* Adds some space between the logo and the next item */
}

h2 {
    margin-bottom: 0; /* Removes the bottom margin */
    margin-top: 8px; /* Moves h2 slightly higher; adjust as needed */
}

header h2 {
    margin-top: 15px; /* Moves h2 slightly higher; adjust as needed */
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    min-height: calc(100vh - 65px); /* Subtracting header and footer heights */
}

.sidebar {
    flex: 0 0 700px; /* The sidebar will not grow or shrink and will have a fixed width of 500px */
    background-color: #f7f7f7;
    padding: 15px;
    border-right: 1px solid #e0e0e0;
    height: calc(100vh - 95px); /* Set the height of the sidebar to fill the viewport height, subtracting the header/footer height */
    overflow-y: auto; /* Add a vertical scrollbar if the content overflows */
}


main {
    flex: 1;
    padding: 15px;
    position: relative;  /* Added this to contain the absolutely positioned viewDiv */

}

#viewDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100vh - 65px); /* Set the height of the sidebar to fill the viewport height, subtracting the header/footer height */

}

.indented {
    margin-bottom: 0; /* Removes the bottom margin */
    /* Your existing styles for .indented */
    padding-left: 20px; /* Adjust as needed for indent */
}

.main-points {
    margin-top: 0; /* Removes the top margin */
    list-style-type: lower-alpha; /* a, b, c */
    padding-left: 40px; /* Adjust as needed for indent */
}

.sub-points {
    list-style-type: lower-roman; /* i, ii */
    padding-left: 40px; /* Adjust as needed for double indent */
}
